body{
    font-family: Arial, sans-serif;
}

.content{
	font-size: 14px;
}

.info{
	background-color: #e9ecf3;
}

#sub{
    margin-top: 6px;
    background-color: #2c2e3e;
    color: white;
    border: 0;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#sub:hover{
    background-color: #4f879b;
  
}